body {background-size: cover!important; background-position: center;}
body#_home {background-image: url(../img/luke-chesser-IGtutkXikuc-unsplash.jpg);}
body#_about {background-image: url(../img/luke-chesser-tgrBcf7S_dY-unsplash.jpg);}
body#_contact {background-image: url(../img/gradienta-rKv4HduvzIE-unsplash.jpg);}